/*Layout styles*/
.layout {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas: "header header" "navbar todo-project" "footer footer";
}

/*Hero styles*/
.header-container {
  grid-area: header;
  border-bottom: 2px solid red;
}

/*Nabvar styles*/
.navbar-container {
  grid-area: navbar;
  border-right: 2px solid red;
}

/*todo-project-containers styles*/
.todo-project-container {
  grid-area: todo-project;
}

.task-grid {
  display: grid;
  grid-template-columns: 0.2fr repeat(6, 1fr);
  gap: 0.5rem;
  align-items: start;
}

.task-header {
  background-color: #f8f9fa;
}

.footer-container {
  border-top: 2px solid red;
  grid-area: footer;
}
